<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Addresses" value="Buckingham Place,North Ave,Washington Ave,Kent St,MLK Drive,Hennepin Ave,Lyndale Ave,Chicago Ave,Barker Rd,Eastwatch St,Westington St,Legend Lake Rd,North Rd,Steward Ave"/>
    <add key="Cities" value="Minneapolis,Wayzata,Brookfield,Milwaukee,Madison,Chicago,Indianapolis,Buxtonville,Nashville,New York,Los Angeles,Shawano,Des Moines,Boston"/>
    <add key="States" value="AL,AK,AZ,AR,CA,CO,CT,DE,FL,GA,HI,ID,IL,IN,IA,KS,KY,LA,ME,MD,MA,MI,MN,MS,MO,MT,NE,NV,NH,NJ,NM,NY,NC,ND,OH,OK,OR,PA,RI,SC,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY"/>
    <add key="Test" value="TestValue"/>
    <add key="MaxNumberOfRandomAddresses" value="20"/>
  </appSettings>
</configuration>